html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  background: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: rgb(79, 79, 79);
}

a {
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s !important;
}
a:hover {
  color: rgb(225, 138, 4);
}

.or {
  color: rgb(225, 138, 4);
}

.container {
  padding: 0 15px;
  padding-left: 109px;
  max-width: 1630px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

.d-flex, .q {
  display: flex;
}

.body-wrap {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 66px;
  font-weight: 800;
  line-height: 115%;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  letter-spacing: 0.04rem;
  font-size: 38px;
  font-weight: 800;
  line-height: 115%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

.svg, rect, line, circle {
  transition: 0.5s ease;
}

a {
  transition: color 0.5s ease;
  box-sizing: border-box;
}

li a {
  transition: color 0.5s ease;
}

button {
  cursor: pointer;
  box-sizing: border-box;
}

textarea {
  transition: border 0.5s;
  box-sizing: border-box;
}
textarea:focus {
  transition: border 0.5s;
  outline: none;
  border: 1px solid rgb(225, 138, 4);
}

input {
  transition: 0.5s;
  box-sizing: border-box;
  border: 1px solid #fff;
}
input:disabled {
  pointer-events: none;
  opacity: 0.5;
}
input:focus {
  border: 1px solid rgb(225, 138, 4);
  transition: 0.5s;
}
input:focus-visible {
  outline: initial;
}

path {
  transition: fill 0.5s, stroke 0.5s;
}

div {
  box-sizing: border-box;
}

.icon {
  transition: fill 0.5s, stroke 0.5s;
}

html * {
  scrollbar-width: thin;
  scrollbar-color: blue rgb(225, 138, 4);
}

.popup__bg {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #E7E7E7;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: rgb(225, 138, 4);
  border-radius: 6px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  box-sizing: border-box;
  background: rgb(225, 138, 4);
  width: 230px;
  height: 60px;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.btn .svg {
  margin-left: 15px;
}
.btn:hover {
  color: white;
  background: rgb(0, 96, 169);
}

input::-webkit-input-placeholder {
  color: rgba(250, 250, 255, 0.6) !important;
}

input::-moz-placeholder {
  color: rgba(250, 250, 255, 0.6) !important;
}

input:-ms-input-placeholder {
  color: rgba(250, 250, 255, 0.6) !important;
}

input:-moz-placeholder {
  color: rgba(250, 250, 255, 0.6) !important;
}

.menu-btn, .menu {
  display: none;
}

.box-modal__close {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  fill: white;
  z-index: 20;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.box-modal__close:hover {
  transition: 0.5s;
  transform: rotate(90deg);
}

.box-modal {
  position: relative;
}

.popup-call__box {
  position: absolute;
  top: -25rem;
  left: 50%;
  height: auto;
  margin-left: -282px;
  overflow: hidden;
  height: max-content;
  transition: 0.5s all;
  height: auto;
  width: 564px;
  padding: 52px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.menu-btn, .menu {
  display: none;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: flex;
  align-items: center;
  user-select: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #494949;
  cursor: pointer;
}
.custom-checkbox + label:hover:before {
  border: 1px solid rgb(225, 138, 4);
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  display: flex;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px;
  background: #FFFFFF;
  flex: 1 0 auto;
  transition: 0.2s;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  max-width: 20px;
  margin-right: 11px;
}

.custom-checkbox:checked + label::before {
  background: url(../img/check2.png) no-repeat center center;
  background-size: 8px;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  bottom: 19px;
  position: absolute;
  z-index: 2;
}

.swiper-pagination-bullet {
  width: 52px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  background-color: rgb(225, 138, 4) !important;
  opacity: 1;
}

.tabs__pane {
  display: none;
}

.tabs__pane_show {
  display: block;
}

.tabs__btn_active {
  color: #20252d !important;
  position: relative;
}

.swiper-button-next, .swiper-button-prev {
  z-index: 9;
}

.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

.bread {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 28px;
  flex-wrap: wrap;
}
.bread a {
  color: rgba(32, 32, 32, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.bread a:after {
  content: "/";
  display: inline-block;
  color: rgba(32, 32, 32, 0.5) !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 0 10px;
}
.bread a:last-child {
  color: rgb(32, 32, 32);
}
.bread a:last-child:after {
  display: none;
}
.bread a:hover {
  color: rgb(225, 138, 4);
}

.mob {
  display: none;
}

/* SELECT */
.selectCF {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  width: max-content;
  height: auto;
  background: transparent;
}

.selectCF li {
  list-style: none;
  cursor: pointer;
  perspective: 900px;
  -webkit-perspective: 900px;
  text-align: left;
  width: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.selectCF > li {
  position: relative;
  border: none;
}

.selectCF span {
  display: flex;
  height: auto;
  line-height: 100%;
  color: #888888;
  z-index: 1;
  align-items: center;
}

.selectCF .arrowCF {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  width: 7px;
  height: 5px;
  text-align: center;
  vertical-align: top;
  background: url(../img/down-arrow.png) no-repeat !important;
  position: absolute;
  right: -16px;
  top: 8px;
}

.selectCF .titleCF {
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #000000 !important;
  white-space: nowrap;
  width: max-content !important;
  height: max-content !important;
  box-sizing: border-box;
  background: transparent !important;
}

.selectCF .searchCF {
  position: absolute;
  top: 3px;
  right: 0;
  z-index: -1;
}

@keyframes searchActive {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@-moz-keyframes searchActive {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes searchActive {
  from {
    -webkit-transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
  }
}
.searchActive .searchCF {
  z-index: 1;
  animation: searchActive 0.3s alternate 1;
  -moz-animation: searchActive 0.3s alternate 1;
  -webkit-animation: searchActive 0.3s alternate 1;
}

.searchActive .titleCF {
  opacity: 0;
}

.selectCF .searchCF input {
  border: none !important;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  background: transparent;
}

.selectCF .searchCF input:active, .selectCF .searchCF input:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.selectCF li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 1px;
  width: 100%;
  background: grey;
  max-height: 255px;
  overflow-y: auto;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  z-index: 2;
  box-sizing: border-box;
  padding-bottom: 10px;
  border-top: none;
}

.selectCF li ul li {
  padding: 9px 0 9px 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: none;
  box-sizing: border-box;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFF;
}
.selectCF li ul li:last-child {
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 10px;
}
.selectCF li ul li:hover {
  color: rgb(225, 138, 4);
}

.onCF .arrowCF {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

@-moz-keyframes effect1 {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: s1;
  }
}
@-webkit-keyframes effect1 {
  from {
    -webkit-transform: translateY(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}
.onCF li ul {
  display: block;
  position: absolute;
  -moz-animation: effect1 0.3s alternate 1;
  -webkit-animation: effect1 0.3s alternate 1;
  left: -6.55px;
  top: 22px;
  border-radius: 0 0 4px 4px;
  width: 100%;
  min-width: max-content;
  padding-right: 10px;
}

ul.info li, #event-change {
  color: #FFF;
}

ul.info {
  padding: 0;
  display: none;
}

ul.info li {
  display: inline-block;
  border-radius: 5px;
  padding: 0 5px;
}

.accordeon, .accordeon2 {
  padding: 5px 0 30px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 26px;
  width: 100%;
}

.accordeon__item {
  width: 100%;
  list-style-type: none;
}

.accordeon__item:first-child .accordeon__button {
  margin-top: 0;
}

.accordeon__button, .accordeon__button2 {
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  font-size: 17px;
  font-weight: 700;
  color: #282828;
  display: flex;
  justify-content: space-between;
}

.accordeon__button:hover, .accordeon__button2:hover {
  color: rgb(225, 138, 4);
}

.accordeon__button:after, .accordeon__button2:after {
  content: "";
  position: absolute;
  right: 0px;
  background: url(img/down-arrow.png) no-repeat !important;
  width: 7px;
  left: inherit;
  height: 5px;
  top: 8px;
  bottom: inherit;
  transition: all 0.5s ease;
}

.accordeon__button.active:after, .accordeon__button2.active:after {
  content: "";
  position: absolute;
  right: 0px;
  background: url(img/down-arrow.png) no-repeat !important;
  width: 7px;
  left: inherit;
  height: 5px;
  bottom: 30%;
  transition: all 0.5s ease;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.accordeon__panel, .accordeon__panel2 {
  max-height: 0;
  overflow: hidden;
  margin-left: 0;
  transition: all 0.5s ease;
}

.panel__text, .panel__text2 {
  list-style-type: none;
  padding-top: 0px;
  max-width: 688px;
  margin-top: 30px;
}

.panel__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 20px;
}
.panel__info:last-child {
  margin-bottom: 0;
}

.pag {
  display: none;
  width: max-content;
  justify-content: center;
  margin: 25px auto 0;
  position: relative;
  bottom: 0 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}
.pag .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: rgb(230, 230, 230);
  opacity: 1;
  margin-right: 10px !important;
}
.pag .swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.nav {
  padding: 50px 0;
}
.nav__box {
  align-items: center;
}
.nav__logo {
  margin-right: 267px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__logo img {
  width: 100%;
  object-fit: contain;
}
.nav__list {
  display: flex;
  position: relative;
  z-index: 3;
  flex-wrap: wrap;
}
.nav__list li {
  margin-right: 37px;
}
.nav__list li:last-child {
  margin-right: 0;
}
.nav__list li a {
  color: rgb(225, 138, 4);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}
.nav__list li a:hover {
  color: rgb(0, 96, 169);
}
.nav__list li.active a {
  color: rgb(0, 96, 169);
}

.header .hd {
  max-width: 1634px;
  padding-left: 15px;
}
.header__wrap {
  margin-top: 50px;
  position: relative;
}
.header__pic {
  position: absolute;
  bottom: 0;
  z-index: 1;
  right: 0;
}
.header__block {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 90px;
  padding: 122px 106px 108px;
}
.header__block img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.header__block h1 {
  z-index: 2;
  position: relative;
}
.header__block span {
  display: block;
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
  color: white;
  font-size: 23px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
}
.header__block p {
  color: rgb(179, 229, 255);
  margin: 16px 0 34px;
  font-size: 23px;
  font-weight: 400;
  line-height: 115%;
  position: relative;
  z-index: 2;
  letter-spacing: 0.03rem;
}
.header__block a {
  position: relative;
  z-index: 2;
}

.main {
  padding: 100px 0 40px;
}
.main__box {
  justify-content: space-between;
  align-items: flex-end;
}
.main__content {
  width: 100%;
  max-width: 680px;
}
.main__content h2 {
  color: rgb(0, 96, 169);
  margin-bottom: 20px;
}
.main__content div p {
  color: rgb(79, 79, 79);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
  letter-spacing: 0.02rem;
}
.main__content div p:last-child {
  margin-bottom: 0;
}
.main__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 55px;
  width: 100%;
  max-width: 663px;
}
.main__item {
  width: 44%;
}
.main__item p {
  color: rgb(0, 96, 169);
  font-size: 100px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  line-height: 90px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
}
.main__item p span {
  font-weight: 400;
}
.main__item p sup {
  color: rgb(0, 96, 169);
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
  left: 8px;
  bottom: 8px;
  top: initial;
}
.main__item small {
  color: rgb(79, 79, 79);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.area {
  padding: 100px 0;
  position: relative;
}
.area .container {
  position: relative;
}
.area__bg {
  width: 100%;
  height: 553px;
  z-index: 0;
  position: absolute;
  bottom: 39px;
  left: 0;
  object-fit: cover;
}
.area__pic {
  position: absolute;
  left: 387px;
  bottom: -62px;
  z-index: 1;
}
.area__box {
  padding: 50px 32px 50px 0;
  width: 100%;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}
.area__box h2 {
  color: white;
  position: relative;
  z-index: 2;
}
.area__content {
  max-width: 625px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.area__item {
  margin-bottom: 30px;
  align-items: flex-start;
}
.area__item img {
  position: relative;
  top: 0;
  margin-right: 26px;
}
.area__item div h3 {
  margin-top: 0;
  letter-spacing: 0.06rem;
  margin-bottom: 3px;
  color: white;
  font-size: 26px;
  font-weight: 600;
  line-height: 110%;
}
.area__item div p {
  color: white;
  letter-spacing: 0.03rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.area__item:last-child {
  margin-bottom: 0;
}

.info {
  padding: 50px 0 100px;
}
.info h2 {
  color: rgb(0, 96, 169);
  width: 32%;
}
.info__row {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 26px;
}
.info__item {
  width: 32%;
  overflow: hidden;
  border-radius: 25px;
  background: rgb(0, 96, 169);
  padding: 30px 36px 70px;
  position: relative;
}
.info__item span {
  position: absolute;
  bottom: -22px;
  right: 30px;
  color: rgb(179, 229, 255);
  font-size: 80px;
  font-weight: 900;
  line-height: 90px;
  font-family: "Montserrat", sans-serif;
}
.info__item h3 {
  margin-top: 0;
  margin-bottom: 3px;
  color: white;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  line-height: 110%;
}
.info__item p {
  letter-spacing: 0.02rem;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.ser {
  padding: 100px 0 13px;
  background: rgba(0, 96, 169, 0.05);
}
.ser__top {
  margin-bottom: 40px;
  align-items: flex-end;
  justify-content: space-between;
}
.ser__top div {
  width: 100%;
  max-width: 680px;
}
.ser__top div h2 {
  color: rgb(0, 96, 169);
  margin-bottom: 20px;
}
.ser__top div p {
  color: rgb(79, 79, 79);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.ser .swiper1 {
  width: 100%;
  margin-bottom: 27px;
  padding-right: 600px;
  position: relative;
  left: -140px;
}
.ser .swiper1 .swiper-slide {
  width: 400px;
  height: auto;
  transition: 0.5s;
}
.ser .swiper1 .swiper-slide a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: rgb(225, 138, 4);
  position: relative;
}
.ser .swiper1 .swiper-slide a img {
  width: 100%;
  height: 437px;
  transition: 0.5s;
  object-fit: cover;
}
.ser .swiper1 .swiper-slide a div {
  padding: 26px 40px 23px 29px;
  transition: 0.5s;
  width: 100%;
  max-width: 462px;
}
.ser .swiper1 .swiper-slide a div h3 {
  margin-top: 0;
  margin-bottom: 8px;
  color: white;
  font-size: 26px;
  font-weight: 600;
  line-height: 110%;
}
.ser .swiper1 .swiper-slide a div p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.ser .swiper1 .swiper-slide a div .svg {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.ser .swiper1 .swiper-slide-active {
  width: 679px;
  z-index: 2;
}
.ser .swiper1 .swiper-slide-active a {
  height: 100%;
  background: rgb(0, 96, 169);
}
.ser .swiper1 .swiper-slide-active a img {
  object-position: 0px top;
}
.ser .swiper1 .swiper-slide-active a div {
  padding-left: 68px;
}
.ser .swiper1 .swiper-slide-active a div .svg {
  width: 50px;
  height: 50px;
}
.ser .swiper1 .swiper-slide-active a div .svg circle {
  fill: rgb(225, 138, 4);
  stroke: rgb(225, 138, 4);
}
.ser .swiper1 .swiper-slide-active a div .svg path {
  fill: white;
}

.arrows {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.arrows div {
  position: relative;
  left: 0;
  z-index: 5;
  top: 0;
  transition: 0.5s;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  background: rgb(225, 138, 4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrows div .svg path {
  fill: white;
}
.arrows div:hover {
  background: rgb(0, 96, 169);
}
.arrows .swiper-button-disabled {
  display: flex;
  opacity: 1;
  background: white;
  border: 1px solid rgb(199, 199, 199);
}
.arrows .swiper-button-disabled .svg path {
  fill: rgb(199, 199, 199);
}

.area2 {
  background: rgba(0, 96, 169, 0.05);
}
.area2 h2 {
  top: 18px;
}
.area2 .area__bg {
  height: 658px;
}
.area2 .area__pic {
  left: -150px;
}
.area2 .area__content {
  max-width: 790px;
  top: 18px;
}
.area2__text {
  color: white;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.area2 .area__item {
  width: 48%;
}
.area2 .area__item img {
  margin-right: 0;
  margin-bottom: 15px;
}
.area2 .area__item a {
  display: flex;
  align-items: center;
  margin-top: 8px;
  color: rgb(225, 138, 4);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.area2 .area__item a .svg {
  margin-left: 15px;
}
.area2 .area__item a:hover {
  color: white;
}
.area2 .area__item a:hover .svg path {
  fill: white;
}
.area2 .area__item div h3 {
  margin-bottom: 8px;
}
.area2__row {
  justify-content: space-between;
}
.area2 .area__box {
  padding: 50px 2px 50px 276px;
}

.par {
  background: rgba(0, 96, 169, 0.05);
  padding: 100px 0;
}
.par__content {
  margin-left: 68px;
}
.par__content h2 {
  margin-bottom: 40px;
  color: rgb(0, 96, 169);
}
.par .swiper2 {
  width: 68%;
  overflow: hidden;
}
.par .swiper2 .swiper-slide {
  transition: 0.5s;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 103.55px;
  border-radius: 20px;
  background: white;
}
.par .swiper2 .swiper-slide:hover {
  border: 2px solid rgb(0, 96, 169);
}
.par .swiper2 .swiper-slide img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.faq {
  padding: 100px 0;
  background: white;
}
.faq__box {
  align-items: center;
  justify-content: space-between;
}
.faq__content {
  width: 100%;
  max-width: 624px;
}
.faq__content .accordeon {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}
.faq__content h2 {
  color: rgb(0, 96, 169);
  margin-bottom: 20px;
}
.faq__pic {
  width: 52%;
  object-fit: cover;
  height: 392px;
  border-radius: 40px;
  overflow: hidden;
}
.faq .accordeon__item {
  margin-bottom: 30px;
}
.faq .accordeon__item:last-child {
  margin-bottom: 0;
}
.faq .accordeon__button {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 100px;
}
.faq .accordeon__button p {
  margin-bottom: 3px;
  color: rgb(79, 79, 79);
  font-size: 26px;
  font-weight: 600;
  line-height: 110%;
  transition: 0.5s;
}
.faq .accordeon__button span {
  color: rgb(79, 79, 79);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.faq .accordeon__button:after {
  width: 51px;
  height: 51px;
  background: url(../img/plus.svg) no-repeat !important;
}
.faq .accordeon__button:hover p {
  color: rgb(0, 96, 169);
}
.faq .accordeon__button.active:after {
  background: url(../img/minus.svg) no-repeat !important;
}
.faq .panel__text {
  margin-top: 10px;
}
.faq .panel__text p {
  font-size: 15px;
}
.faq .panel__text p a {
  color: rgb(0, 96, 169);
}
.faq .panel__text p a:hover {
  color: rgb(225, 138, 4);
}

.news {
  padding: 100px 0 79px;
  background: rgba(0, 96, 169, 0.05);
}
.news h2 {
  margin-bottom: 40px;
  color: rgb(0, 96, 169);
}
.news .swiper3 {
  margin-bottom: 30px;
  height: 680px;
  width: 74%;
}
.news .swiper3 .swiper-slide {
  height: 100%;
}
.news .swiper3 .swiper-slide a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 35px 33px 35px 30px;
}
.news .swiper3 .swiper-slide a:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.news .swiper3 .swiper-slide a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.news .swiper3 .swiper-slide a h3 {
  margin-top: auto;
  margin-bottom: 8px;
  color: white;
  font-size: 26px;
  font-weight: 600;
  line-height: 110%;
  position: relative;
  z-index: 2;
  transition: 0.5s;
}
.news .swiper3 .swiper-slide a p {
  color: white;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 447px;
}
.news .swiper3 .swiper-slide a span {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 2;
}
.news .swiper3 .swiper-slide a .svg {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 2;
}
.news .swiper3 .swiper-slide a:hover .svg circle {
  fill: rgb(0, 96, 169);
  stroke: rgb(0, 96, 169);
}
.news .swiper3 .swiper-slide a:hover h3 {
  color: rgb(225, 138, 4);
}

.footer {
  padding: 60px 0 80px;
  position: relative;
}
.footer__logo {
  margin-left: -96px;
}
.footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.footer__box {
  align-items: flex-start;
  justify-content: space-between;
}
.footer__content {
  width: 100%;
  max-width: 678px;
  position: relative;
  top: 12px;
}
.footer .nav__list {
  padding-bottom: 21px;
  margin-bottom: 23px;
  border-bottom: 1px solid white;
}
.footer .nav__list li.active a {
  color: white;
}
.footer .nav__list li a:hover {
  color: white;
}
.footer__text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 115%;
  text-align: right;
}

.page .header__block p {
  width: 100%;
  max-width: 607px;
}
.page .header__pic {
  width: 53%;
}
.page .header__block {
  border-radius: 60px;
}
.page .cont .header__pic {
  width: 40%;
}

.text {
  padding: 100px 0;
}
.text h2 {
  color: rgb(0, 96, 169);
  margin-bottom: 20px;
}
.text__row {
  justify-content: space-between;
}
.text__row p {
  color: rgb(79, 79, 79);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  max-width: 45.16%;
}
.text__row p span {
  display: block;
  margin-top: 15px;
}

.risks {
  padding: 100px 0 50px;
  background: rgba(0, 96, 169, 0.05);
}
.risks h2 {
  color: rgb(0, 96, 169);
  margin-bottom: 45px;
}
.risks .slider {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.risks .slider .arrows {
  position: absolute;
  bottom: 30px;
  left: 600px;
  z-index: 3;
}
.risks .slider__left {
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  max-width: 47.1%;
  height: 447px;
}
.risks .slider__left .swiper {
  height: 100%;
}
.risks .slider__left .swiper-slide {
  position: relative;
}
.risks .slider__left .swiper-slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.risks .slider__right {
  position: relative;
  width: 100%;
  max-width: 47%;
}
.risks .slider__right .swiper {
  height: auto;
}
.risks .slider__right .swiper .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: none !important;
}
.risks .slider__right .swiper-slide {
  height: max-content !important;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.risks .slider__right .swiper-slide:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0px;
  background: url(../img/border.svg) no-repeat !important;
  width: 8px;
  height: 100%;
  opacity: 0;
}
.risks .slider__right .swiper-slide h3 {
  margin-top: 0;
  margin-bottom: 3px;
  color: rgb(79, 79, 79);
  font-size: 26px;
  font-weight: 600;
  line-height: 110%;
}
.risks .slider__right .swiper-slide p {
  color: rgb(79, 79, 79);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.risks .slider__right .swiper-slide-active:before {
  opacity: 1;
}

.area3 {
  background: rgba(0, 96, 169, 0.05);
}
.area3 .area__pic {
  left: initial;
  right: -147px;
  bottom: -100px;
}
.area3 .area__box {
  padding-top: 10px;
  flex-direction: column;
}
.area3 .area__bg {
  width: 100%;
  height: 91%;
  z-index: 0;
  bottom: 0;
  left: 0;
}
.area3 h2 {
  margin-bottom: 40px;
}
.area3 .area2__row {
  flex-wrap: wrap;
}
.area3 .area__content {
  max-width: 1081px;
}
.area3 .area__item {
  margin-bottom: 50px;
  align-items: flex-start;
  width: 47.5%;
}
.area3 .area__item:nth-child(n+3) {
  margin-bottom: 0;
}
.area3 .area__item img {
  margin-right: 0;
  margin-bottom: 22px;
}

.van {
  padding: 100px 0 80px;
}
.van__box {
  align-items: flex-start;
  justify-content: space-between;
}
.van__content {
  width: 100%;
  max-width: 672px;
}
.van__content h2 {
  color: rgb(0, 96, 169);
  margin-bottom: 40px;
}
.van__item {
  align-items: flex-start;
  margin-bottom: 30px;
}
.van__item:last-child {
  margin-bottom: 0;
}
.van__item div {
  margin-left: 25px;
}
.van__item div h3 {
  margin-top: 0;
  margin-bottom: 3px;
  color: rgb(79, 79, 79);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  line-height: 110%;
}
.van__item div p {
  color: rgb(79, 79, 79);
  font-size: 16px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  line-height: 24px;
}
.van__img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  max-width: 47.3%;
  height: 639px;
  border-radius: 25px;
}

.contacts {
  padding: 100px 0;
}
.contacts__box {
  justify-content: space-between;
  align-items: center;
}
.contacts__content {
  width: 100%;
  max-width: 620px;
}
.contacts #map {
  overflow: hidden;
  border-radius: 40px;
  height: 538px;
  width: 50%;
}
.contacts__item {
  align-items: flex-start;
  margin-bottom: 30px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__info p {
  color: rgb(79, 79, 79);
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 0.03rem;
  line-height: 110%;
}
.contacts__info span, .contacts__info a {
  color: rgb(79, 79, 79);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01rem;
}
.contacts__info a:hover {
  color: rgb(225, 138, 4);
}
.contacts__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  margin-right: 40px;
}

.item__wrap {
  position: relative;
}
.item__box {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.item__box:after {
  content: "";
  display: block;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/bg5.png) no-repeat center center;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}
.item__box:hover:after {
  opacity: 1;
}
.item__box:hover .item__name, .item__box:hover .item__text {
  color: white;
}
.item__box.active:after {
  opacity: 1;
}
.item__box.active .item__name, .item__box.active .item__text {
  color: white;
}
.item__icon {
  margin-bottom: 20px;
}
.item__pic {
  flex: 1 0 auto;
  width: 100%;
  max-width: 538px;
  height: 559px;
  object-fit: cover;
  margin-right: 31px;
  margin-left: -253px;
}
.item__content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 784px;
}
.item__name {
  margin-bottom: 5px;
  color: rgb(79, 79, 79);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  line-height: 110%;
  transition: 0.5s;
}
.item__text {
  margin-bottom: 20px;
  color: rgb(79, 79, 79);
  font-size: 16px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  line-height: 24px;
  transition: 0.5s;
}
.item__area {
  width: 320px;
  border-radius: 25px 25px;
  overflow: hidden;
  position: absolute;
  margin-top: 75px;
  right: 0;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, top 0.4s ease;
}
.item__el {
  width: 100%;
  padding: 15px 34px;
  display: flex;
  align-items: center;
  background: rgb(225, 138, 4);
  border-bottom: 1px solid white;
}
.item__el p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 115%;
  margin-left: 24px;
  transition: 0.5s;
}
.item__el .svg path {
  fill: white;
}
.item__el.active {
  background: white;
}
.item__el.active .svg path {
  fill: rgb(79, 79, 79);
}
.item__el.active p {
  color: rgb(79, 79, 79);
}
.item__el:last-child {
  border-bottom: none;
}

@media screen and (max-width: 1620px) {
  .container {
    max-width: 1400px !important;
  }
  .nav__logo {
    margin-right: 71px;
  }
  .header__pic {
    width: 76%;
  }
  .header__block {
    padding: 110px 106px;
  }
  .main__item p {
    font-size: 90px;
  }
  .main__content {
    max-width: 42%;
  }
  .area__item div h3 {
    font-size: 24px;
  }
  .area__content {
    max-width: 46%;
  }
  .area__pic {
    left: 337px;
    bottom: -62px;
    z-index: 1;
    width: 39%;
  }
  .info__item, .info h2 {
    width: 31.9%;
  }
  .info__item h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .info__item p {
    font-size: 15px;
  }
  .area2 .area__pic {
    width: 58%;
    left: -177px;
  }
  .area2 .area__content {
    max-width: 65%;
  }
  .area2 .area__box {
    padding: 50px 2px 50px 169px;
  }
  .faq__content {
    max-width: 42%;
  }
  .news .swiper3 .swiper-slide a {
    padding: 35px 43px 35px 30px;
  }
  .risks .slider__right .swiper-slide p {
    font-size: 15px;
  }
  .risks .slider .arrows {
    left: 504px;
  }
  .area3 .area__content {
    max-width: 965px;
  }
  .area3 .area__box {
    padding-bottom: 0;
  }
  .van__content {
    max-width: 48%;
  }
  .page .cont .header__pic {
    width: 43%;
  }
  .contacts__info p {
    font-size: 24px;
  }
  .item__content {
    max-width: 46%;
  }
  .ser .swiper1 {
    width: 100%;
    margin-bottom: 27px;
    padding-right: 388px;
    position: relative;
    left: 0px;
  }
}
@media screen and (max-width: 1350px) {
  .container {
    max-width: 1200px !important;
  }
  .header__block {
    padding: 110px 60px;
  }
  .header__pic {
    width: 82%;
  }
  h1 {
    font-size: 59px;
  }
  .main__info {
    max-width: 50%;
  }
  .container {
    padding-left: 15px;
  }
  h2 {
    font-size: 34px;
  }
  .area__pic {
    left: 182px;
    bottom: -62px;
    z-index: 1;
    width: 46%;
  }
  .area__bg {
    height: 624px;
  }
  .info__item, .info h2 {
    width: 31.8%;
  }
  .ser .swiper1 .swiper-slide {
    width: 438px;
  }
  .ser .swiper1 .swiper-slide-active {
    width: 680px;
  }
  .area__item div p, .area2__text {
    font-size: 14px;
  }
  .area2 .area__content {
    max-width: 63%;
  }
  .footer__logo {
    margin-left: 0;
  }
  .page .header__pic {
    width: 64%;
  }
  .risks .slider__right {
    max-width: 49%;
  }
  .risks .slider .arrows {
    left: 464px;
  }
  .area3 .area__content {
    max-width: 74%;
  }
  .van__box {
    align-items: center;
  }
  .item__content {
    max-width: 43%;
  }
}
@media screen and (max-width: 1199px) {
  .ser .swiper1 {
    padding-right: 0;
  }
  .container {
    max-width: 960px !important;
  }
  .nav {
    padding: 30px 0;
  }
  .menu-btn, .menu {
    display: block;
  }
  .menu-btn {
    width: 48px;
    height: 24px;
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 11;
    overflow: hidden;
    background: url(../img/menu1.svg) no-repeat center center;
  }
  .menu-btn.active {
    background: url(../img/menu2.svg) no-repeat center center;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 40px;
    background: #030303;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 10;
    overflow: hidden;
  }
  .menu.active {
    transform: translateX(0%);
  }
  .menu ul {
    text-align: center;
  }
  .menu ul li {
    margin-bottom: 30px;
  }
  .menu ul li a {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  .menu ul li.active a {
    color: rgb(0, 96, 169);
  }
  .nav__list {
    display: none;
  }
  .header__wrap {
    margin-top: 0;
  }
  .header__block {
    padding: 60px;
    border-radius: 40px;
  }
  .header__block span {
    font-size: 18px;
    line-height: 120%;
  }
  h1 {
    font-size: 49px;
  }
  .header__block p {
    font-size: 20px;
  }
  .header__pic {
    width: 73%;
  }
  .main {
    padding: 40px 0;
  }
  .main__box {
    flex-direction: column;
    align-items: flex-start;
  }
  .main__content {
    max-width: 100%;
    margin-bottom: 25px;
  }
  .main__info {
    max-width: 100%;
  }
  .area {
    padding: 40px 0;
  }
  .area__box {
    padding: 0;
    flex-direction: column;
  }
  .area__bg {
    bottom: 0;
    height: 100%;
  }
  .area__content {
    max-width: 100%;
    margin-top: 25px;
  }
  .area__pic {
    right: 0;
    left: inherit;
    bottom: 0;
    z-index: 1;
    width: 46%;
    opacity: 0.1;
  }
  .info__item, .info h2 {
    width: 48%;
  }
  .info {
    padding: 40px 0;
  }
  .ser {
    padding: 40px 0;
  }
  .ser .container {
    position: relative;
    padding-bottom: 80px;
  }
  .ser__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -115px;
  }
  .ser .swiper1 .swiper-slide, .ser .swiper1 .swiper-slide-active {
    width: 100%;
  }
  .ser .swiper1 .swiper-slide a img {
    height: 350px;
  }
  .ser .swiper1 .swiper-slide-active a div {
    padding: 20px;
  }
  .area2 .area__bg {
    height: 100%;
  }
  .area2 .area__box {
    padding: 0;
  }
  .area2 .area__content {
    top: 0;
    max-width: 100%;
  }
  .area2 .area__pic {
    display: none;
  }
  .par, .faq, .news {
    padding: 40px 0;
  }
  .par__box {
    flex-direction: column-reverse;
  }
  .par__content {
    margin-left: 0;
    margin-bottom: 25px;
  }
  .par .swiper2 {
    width: 100%;
  }
  .faq__box {
    flex-direction: column-reverse;
  }
  .faq__pic {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 20px;
  }
  .faq__content {
    max-width: 100%;
  }
  .news .swiper3 {
    height: 500px;
  }
  .news .swiper3 {
    width: 100%;
  }
  .news .swiper3 .swiper-slide a {
    border-radius: 20px;
  }
  .footer .nav__list {
    display: flex;
    justify-content: flex-end;
  }
  .nav__list li a {
    font-size: 16px;
  }
  .footer__content {
    max-width: 65%;
  }
  .news .swiper3 .swiper-slide a h3 {
    font-size: 21px;
  }
  .news .swiper3 .swiper-slide a p, .news .swiper3 .swiper-slide a span {
    font-size: 14px;
    line-height: 120%;
  }
  .news .swiper3 .swiper-slide a {
    padding-right: 70px;
  }
  .info__item span {
    font-size: 70px;
    bottom: -28px;
  }
  .page .header__pic {
    width: 50%;
  }
  .nav__box {
    position: relative;
  }
  .text {
    padding: 40px 0;
  }
  .page .header__block {
    border-radius: 40px;
  }
  .risks {
    padding: 40px 0;
  }
  .risks .slider .arrows {
    left: 21px;
    bottom: 50px;
  }
  .risks .slider__right .swiper-slide h3 {
    font-size: 21px;
  }
  .risks .slider__right .swiper-slide p {
    font-size: 14px;
  }
  .area3 .area__bg {
    height: 100%;
  }
  .area3 h2 {
    margin-bottom: 25px;
  }
  .van {
    padding: 40px 0;
  }
  .van__box {
    flex-direction: column-reverse;
  }
  .van__img {
    display: none;
  }
  .van__content {
    max-width: 100%;
  }
  .van__content h2 {
    margin-bottom: 30px;
  }
  .van__item div h3 {
    font-size: 21px;
  }
  .van__item div p {
    font-size: 14px;
  }
  .van__item div {
    margin-left: 20px;
  }
  .contacts {
    padding: 40px 0;
  }
  .contacts__box {
    flex-direction: column;
  }
  .contacts__content {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .contacts #map {
    height: 400px;
    width: 100%;
    border-radius: 20px;
  }
  .page .cont .header__pic {
    width: 31%;
  }
  .item__area {
    display: none;
  }
  .item__content {
    max-width: 100%;
  }
  .item__box:after {
    display: none;
  }
  .item__pic {
    height: 559px;
    max-width: 405px;
    margin-left: -32px;
  }
  .item__box.active .item__name, .item__box.active .item__text {
    color: rgb(79, 79, 79);
  }
}
@media (max-width: 991px) {
  input, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .container {
    max-width: 720px !important;
  }
  .header__block {
    padding: 60px 40px;
  }
  h1 {
    font-size: 42px;
  }
  .header__pic {
    width: 66%;
  }
  .main__item p {
    line-height: 100%;
    font-size: 80px;
  }
  .area__pic {
    display: none;
  }
  .area__item img {
    margin-right: 21px;
    width: 40px;
  }
  .area__item {
    margin-bottom: 20px;
  }
  .area__content {
    margin-top: 40px;
  }
  .area__item div h3 {
    font-size: 21px;
  }
  .info__item, .info h2 {
    width: 100%;
  }
  .info__row {
    gap: 10px;
  }
  .info h2 {
    margin-bottom: 20px;
  }
  .ser__top {
    margin-bottom: 25px;
  }
  .faq__pic {
    height: 300px;
  }
  h2 {
    font-size: 28px;
  }
  .info__item, .ser .swiper1 .swiper-slide a {
    border-radius: 20px;
  }
  .faq .accordeon__button p {
    font-size: 21px;
    margin-bottom: 5px;
  }
  .faq .accordeon__button span {
    font-size: 14px;
    line-height: 120%;
  }
  .faq .panel__text p {
    font-size: 14px;
    line-height: 140%;
  }
  .news h2 {
    margin-bottom: 25px;
  }
  .footer {
    padding: 50px 0;
  }
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
  .footer__content {
    max-width: 100%;
  }
  .footer .nav__list {
    flex-direction: column;
    text-align: center;
  }
  .nav__list li {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .nav__list li:last-child {
    margin-bottom: 0;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__text {
    font-size: 14px;
    text-align: center;
  }
  .page .header__block p {
    max-width: 78%;
  }
  .text__row {
    flex-direction: column;
  }
  .text__row p {
    font-size: 14px;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .text__row p:last-child {
    margin-bottom: 0;
  }
  .risks .slider {
    flex-direction: column;
  }
  .risks h2 {
    margin-bottom: 25px;
  }
  .risks .slider__left {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
  .risks .slider__right {
    max-width: 100%;
  }
  .risks .slider .arrows {
    top: 255px;
    margin-left: -34px;
    left: 50%;
    bottom: initial;
  }
  .area3 h2 {
    margin-bottom: 0;
  }
  .area3 .area__content {
    max-width: 100%;
  }
  .item__box {
    margin-bottom: 40px;
    flex-direction: column;
  }
  .item__pic {
    margin-bottom: 25px;
    width: 112%;
    margin-right: 0;
    height: 400px;
    max-width: 110%;
    margin-left: -87px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 540px !important;
  }
  .nav__logo {
    margin-right: 0;
    width: 140px;
  }
  .header__block {
    border-radius: 20px;
    padding: 40px 20px;
  }
  h1 {
    font-size: 38pxs;
  }
  .header__block p {
    font-size: 18px;
  }
  .header__block a {
    width: 100%;
  }
  .main__item p {
    font-size: 70px;
  }
  .main__content div p {
    font-size: 14px;
  }
  .area__item {
    margin-bottom: 40px;
    text-align: center;
    flex-direction: column;
  }
  .area__item img {
    width: 60px;
    display: block;
    margin: 0 auto 10px !important;
  }
  .ser__top div p {
    font-size: 14px;
  }
  .ser .swiper1 .swiper-slide a img {
    height: 250px;
  }
  .ser .swiper1 .swiper-slide a div h3 {
    font-size: 21px;
  }
  .ser .swiper1 .swiper-slide a div p {
    font-size: 14px;
  }
  .area2__row {
    flex-direction: column;
  }
  .area2 .area__item {
    width: 100%;
  }
  .area2 .area__item a {
    font-size: 16px;
    justify-content: center;
  }
  .news .swiper3 {
    height: 400px;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .page .header__block {
    border-radius: 20px;
  }
  .risks .slider__left {
    height: 280px;
  }
  .risks .slider .arrows {
    top: 240px;
  }
  .risks .slider__right .swiper-slide {
    padding-left: 20px;
  }
  .risks .slider__right .swiper-slide:before {
    width: 5px;
  }
  .area3 .area__item {
    width: 100%;
    margin-bottom: 30px !important;
  }
  .area3 .area__item:last-child {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
  a:active, a:focus {
    outline: none;
  }
  input, textarea {
    outline: none;
  }
  input:active, textarea:active {
    outline: none;
  }
  input:focusout {
    outline: none;
  }
  .mm {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mm li {
    margin-bottom: 40px !important;
    width: 100% !important;
    margin-top: 0 !important;
  }
  .mob {
    display: block !important;
  }
  .header__block {
    text-align: center;
  }
  .header__block span {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  .header__block p {
    font-size: 14px;
  }
  .btn {
    font-size: 16px;
    height: 50px;
  }
  h2 {
    font-size: 26px;
  }
  .main__item {
    width: 100%;
    text-align: center;
  }
  .main__item p {
    font-size: 60px;
    text-align: center;
    width: max-content;
    margin: 0 auto 10px;
  }
  .main__info {
    gap: 40px;
  }
  .main__item small {
    font-size: 14px;
    line-height: 20px;
  }
  .main__item p sup {
    font-size: 14px;
  }
  .info__item {
    padding: 20px 20px 60px;
  }
  .info__item h3 {
    font-size: 21px;
  }
  .info__item p {
    font-size: 14px;
  }
  .info__item span {
    font-size: 60px;
  }
  .ser .swiper1 .swiper-slide a div p {
    line-height: 22px;
  }
  .ser .swiper1 .swiper-slide-active a div {
    padding-bottom: 60px;
  }
  .ser .swiper1 .swiper-slide-active a div .svg {
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
  }
  .ser .swiper1 {
    margin-bottom: 20px;
  }
  .arrows {
    justify-content: center;
  }
  .area2 {
    padding-top: 20px;
  }
  .faq__pic {
    height: 250px;
  }
  .news .swiper3 .swiper-slide a {
    padding: 20px 70px 40px 20px;
  }
  .news .swiper3 .swiper-slide a .svg {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
  }
  .par__content h2 {
    margin-bottom: 30px;
  }
  .par__content {
    margin-bottom: 20px;
  }
  .news .swiper3 {
    margin-bottom: 20px;
  }
  .footer__logo {
    width: 140px;
    margin-bottom: 15px;
  }
  .footer {
    padding-top: 40px;
  }
  .page .header__block p {
    max-width: 85%;
    margin: 20px auto 0;
  }
  .page .header__pic {
    width: 41%;
  }
  .risks .slider__right .swiper-slide:before {
    display: none;
  }
  .risks .slider__right .swiper-slide {
    border-left: 4px solid transparent;
  }
  .risks .slider__right .swiper-slide-active {
    border-left: 4px solid rgb(225, 138, 4);
  }
  .area3 .area__box {
    padding: 0;
  }
  .area__item div p {
    line-height: 22px;
  }
  .van__item {
    flex-direction: column;
    text-align: center;
  }
  .van__item img {
    margin: 0 auto;
  }
  .van__item div {
    margin-left: 0;
    margin-top: 15px;
  }
  .area h2 {
    margin: 0 auto;
    text-align: center;
  }
  .van__content h2 {
    text-align: center;
  }
  .area2__text {
    text-align: center;
  }
  .contacts__icon {
    margin-right: 25px;
    flex: 1 0 auto;
    max-width: 37px;
  }
  .contacts__info p {
    font-size: 18px;
  }
  .contacts__info span, .contacts__info a {
    font-size: 14px;
  }
  .contacts__item {
    margin-bottom: 20px;
  }
  .contacts {
    padding-bottom: 0;
  }
  .contacts #map {
    position: relative;
    left: -33px;
    width: 126%;
    height: 380px;
  }
  .item__pic {
    margin-bottom: 25px;
    width: 112%;
    margin-right: 0;
    height: 340px;
    max-width: 110%;
    margin-left: -1px;
  }
}